<meta charset="UTF-8">
<title>Mooderator [title here :)]</title>

<link rel="icon" href="/images/favicon.png" type="image/png">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<style>
	/* PLACEHOLDER CSS - WE CAN MAKE PRETTIER LATER */
	html {
		min-height: 100%;
		position: relative;
		margin: 0;
	}
	body {
		background-color: rgb(194, 255, 252);
		color: black;
		font-family: sans-serif;
		font-size: 12px;
		margin: 0 0 75px 0;
	}
	.navbar { 
		margin-bottom: 20px;
		background-color: #29a3a3;
		font-size: 16px;
		font-weight: bold;
	}
	.navbar-brand {
		font-size: 30px !important;
		font-weight: bolder;
	}
	main {
		width: 80%;
		margin: auto;
		background-color: white;
		opacity: 0.9;
		text-align: center;
		position: relative;
	}
	h1, h2, h3 {
		font-family: forte;
		text-align: center;
	}
	
	.nav {
		text-align: center;
		margin: 0px 0px 20px 0px;
		width: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: lightblue;
		border-bottom: 2px solid black;
	}
	.nav div {
		text-align:center;
		margin: 0px auto;
	}
	.nav div span {
		margin: 0px 15px;
	}
	a:link, a:visited {
		font-family: sans-serif;
		text-decoration: none;
		color: black;
	}
	a:hover {
		font-family: sans-serif;
		text-decoration: none;
		color: deepskyblue;
	}
	footer{
		text-align: center;
		width: 100%;
		height: 60px;
		position: absolute;
		font-size: 14px;
		bottom: 0;
		left: 0;
	}
	.footerLink a:link, .footerLink a:hover {
		font-size: 8px;
		color: grey;
	}
	#addFoods {
		width: 40%;
		margin: 15px auto;
		border: 2px dashed deepskyblue;
		background-color: white;
	}
	.bold {
		font-weight: bolder;
		line-height: 100%;
	}
	textarea {
		width: 400px;
		height: 150px;
		overflow: auto;
	}
	
	.oldDiaryEntries {
		width: 400px;
		height: 100px;
		overflow: auto;
		margin: 0px auto;
		margin-bottom: 20px;
		border: 2px dashed deepskyblue;
	}
	.tinySpace {
		margin-bottom:5px;
	}
</style>