<<<<<<< HEAD
<nav>
	<div class="nav"> 
		<div>
			<span><a href="/dashboard">Dashboard</a></span>
			<span><a href="/diary">Diary</a></span>
			<span><a href="/favorites">Favorites (I feel better!)</a></span>
			<span><a href="/foods">Foods</a></span>
			<span><a href="/meditation">Meditate</a></span>
			<span><a href="/quotes">Quotes</a></span>
			<span><a href="/songs">Songs</a></span>
		</div>
	</div>
=======
<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" href="/dashboard">YOU</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/dashboard">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/favorites">Favorites</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/diary">Diary</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/quotes">Quotes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/foods">Foods</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/songs">Songs</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/meditation">Meditation</a>
		</li>
	</ul>
>>>>>>> a5d6c85a12c0e289566878e6e6fdbf654c177dda
</nav>