<nav>
	<div class="nav"> 
		<div>
			<span><a href="/dashboard">Dashboard</a></span>
			<span><a href="/diary">Diary</a></span>
			<span><a href="/favorites">Favorites (I feel better!)</a></span>
			<span><a href="/foods">Foods</a></span>
			<span><a href="/meditation">Meditate</a></span>
			<span><a href="/quotes">Quotes</a></span>
			<span><a href="/songs">Songs</a></span>
		</div>
	</div>
</nav>