<nav>
	<div>
		<h5>Navigate:</h5>
		<ul> 
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/diary">Diary</a></li>
			<li><a href="/favorites">Favorites (I feel better!)</a></li>
			<li><a href="/foods">Foods</a></li>
			<li><a href="/meditation">Meditate</a></li>
			<li><a href="/quotes">Quotes</a></li>
			<li><a href="/songs">Songs</a></li>
		</ul>
	</div>
</nav>