<meta charset="UTF-8">
<title>Mooderator [title here :)]</title>

<link rel="icon" href="/images/favicon.png" type="image/png">

<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<style>
	/* PLACEHOLDER CSS - WE CAN MAKE PRETTIER LATER */
	body {
		background-color: rgb(194, 255, 252);
		color: black;
		font-family: sans-serif;
		font-size: 12px;
		line-height: 18px;
		margin: 50px 0px auto;
	}
	main {
		width: 70%;
		margin: 50px auto;
		background-color: white;
		opacity: 0.9;
		text-align: center;
	}
	h1, h2, h3 {
		font-family: forte;
		text-align: center;
	}
	
	.nav {
		text-align: center;
		margin: 0px 0px 20px 0px;
		width: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: lightblue;
		border-bottom: 2px solid black;
	}
	.nav div {
		text-align:center;
		margin: 0px auto;
	}
	.nav div span {
		margin: 0px 15px;
	}
	a:link, a:visited {
		font-family: sans-serif;
		text-decoration: none;
		color: black;
	}
	a:hover {
		font-family: sans-serif;
		text-decoration: none;
		color: deepskyblue;
	}
	footer{
		text-align: center;
		width: 100%;
		position: fixed;
		bottom: 0;
	}
	.footerLink a:link, .footerLink a:hover {
		font-size: 8px;
		color: grey;
	}
	#addFoods {
		width: 40%;
		margin: 15px auto;
		border: 2px dashed deepskyblue;
		background-color: white;
	}
	.bold {
		font-weight: bolder;
		line-height: 100%;
	}
	
</style>