<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <h1>Dashboard</h1>
        <h3>Feeling 
            <span id="userMood">
                <!-- mood populates here -->
            </span> 
            today? Try these:</h3>
        <div id="dashDivContainer">
            <div class="dashDiv" id="randQuotes">
                <h5>Quotes</h5>
                <!-- random quotes here -->
            </div>

            <div class="dashDiv" id="randFoods">
                <h5>Foods</h5>
                <!-- random foods here -->
            </div>

            <div class="dashDiv" id="quickDiary">
                <h5>Diary Quick Entry</h5>
                <form method="POST" action="/dashboard/create">
                    <textarea type="text" name="text" maxlength="500" placeholder="Quick Entry! Write your feelings away..." id="dashTextArea"></textarea>
                    <p>
                    <button>Submit</button>
                    </p>
                    <p>
                    <a href="/diary">Go to your Diary archive.</a>
                    </p>       
                </form>
            </div>
            <div class="dashDiv" id="meditatedToday">
                <h5>Meditated yet?</h5>
                <!-- meditation here -->
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
        <% include ../partials/script %>

        <script src="/javascript/dashboardJax.js"></script>
        <script src="/javascript/dashDiaryJax.js"></script>

</body>
</html>