<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        
<!-- Dashboard:
		-displays your mood today
		-shows recommended quotes, foods, songs, meditation stamppad
        -maybe show preview of accessible diary entries based on that mood -->
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <% include ../partials/script %>
    
</body>
</html>