<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <h1>Diary</h1>
            <div>
                <h3>Write your rant away...</h3>
                <form method="POST" action="/diary/create">
                    <textarea name="text" value="" maxlength="500"></textarea>
                    <p>
                    <button>Submit</button>
                    </p>
            </div>
            <h3>Your Previous Entries:</h3>
            <div id="journalsHere">
                <!-- old entries populate here -->
            </div>        
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

<!-- CREATE TABLE diaries (
    id INT NOT NULL AUTO_INCREMENT,
    user_id INT NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    text VARCHAR(500) NOT NULL,
    PRIMARY KEY (id),
    FOREIGN KEY(user_id) REFERENCES users(id)
); -->
