<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        
<!-- Favorite:
-shows your favorite quotes, foods, songs, meditation progress
-based on your current mood and what was saved based on that mood previously -->
        
        <div>
            <h5>Favorite Foods</h5>
            <% foods.forEach(function(fav_food) { %>
                   <li><%= fav_food.food_name %></li>
            <% }); %>
        </div>

        <div>
        <br>
        <h5>Favorite Quotes</h5>
        
            <% quotes.forEach(function(fav_quote) { %>
                    <li><%= fav_quote.quote %> </li> 
            <% }); %>
        
        </div>
    
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>