<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        
		<!-- Foods:
		-display our suggestions(we will write a database with suggestions)
		-users can input their suggestions for what mood, and why
		-display how many people found it helpful and not helpful -->

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>