<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/login-signup.css">
    </style>
</head>
<body>

    <main>
        <h1>Login In</h1>
<!-- Log-in:
		-username and password entry -->
		<form method="POST" action="/logging-in">
            <p>Username</p>
			<input type="text" id="username"class="d-inline-block" data-toggle="popover" data-content="Username or password is invalid" name="username" placeholder=" username">
            <p>Password</p>
			<input type="password" name="password" placeholder=" password">
			<button class='btn'>Submit</button>
            <a href="/sign-up">Sign-Up</a>
		</form>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <!-- SCRIPT -->
    <% include ../partials/script %>

    <!-- script for doing /sign-up route, check sign-up info -->
    <script src="/javascript/login-signup.js"></script>
    
</body>
</html>

