<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style type="text/css">
    	main {
    		width: 50%;
    		position: relative;
            height: 80%;
    		margin: auto;
    		text-align: center;
    		color: #2eb8b8;
            background-color: transparent !important;
    	}
    	h1{
    		font-size: 700%;
            font-weight: bold;
            border-bottom: 6px dotted #fff;
    	}
        form{
            margin: auto;
            width: 40%;
            text-align: left;
            padding: 2% 5%;
            color: #248f8f;
            font-weight: bolder;
            position: relative;
        }
        form > a{
            float: right;
            padding: 10px 0;
        }
        input{
            margin-bottom: 5px;
            margin-right: 10px;
            border-radius: 4px;
            border: 1px solid #2eb8b8;
            width: 100%;
        }
        input[type='text'], input[type='password']{
            padding: 2%;
        }
        p {
            margin: auto;
            text-align: left;
            font-size: 120%;
            margin: 5px 0;
        }
        .btn{
            color: #ffffff;
            background-color: #28a4a4;
            padding: 5px 10px;
            margin-right: 30px;
        }

    </style>
</head>
<body>

    <main>
        <h1>Login In</h1>
<!-- Log-in:
		-username and password entry -->
		<form method="POST" action="/logging-in">
            <p>Username</p>
			<input type="text" name="username" placeholder=" username">
            <p>Password</p>
			<input type="password" name="password" placeholder=" password">
			<button class='btn'>Submit</button>
            <a href="/sign-up">Sign-Up</a>
		</form>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <!-- SCRIPT -->
    <% include ../partials/script %>

    <!-- script for doing /sign-up route, check sign-up info -->
    <script src="/javascript/login-signup.js"></script>
    
</body>
</html>

