<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <main>
        <h1><a href="/checkmood">Login In</a></h1>
<!-- Log-in:
		-username and password entry -->
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

