<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <h1>Login In</h1>
<!-- Log-in:
		-username and password entry -->
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

