<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/meditation.css">
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        
<!-- Meditation:
        -plays music based on user's current mood
        -a button to allow user to start meditation
        -have user pick set time to meditate for(1 min, 5 min, 10 min, nonstop) -->
        <!-- .js will use ajax's POST method -->
        <form id="delaySubmit" method="POST" action="/meditation/amount-meditated">
            <input type="button" class="btn" name="amount" value="1:00"></input>
            <input type="button" class="btn" name="amount" value="5:00"></input>
            <input type="button" class="btn" name="amount" value="10:00"></input>
            <h1 id="timer">
                <span id="minutes"></span>:
                <span id="seconds"></span>
            </h1>
        </form>
        <!-- <button class="btn">Non-stop</button> -->
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <!-- SCRIPT -->
    <% include ../partials/script %>

    <!-- Script controlling the meditation POSTing -->
    <script src="/javascript/meditationJax.js"></script>

</body>
</html>


