<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        
<!-- Meditation:
		-plays music based on user's current mood
		-a button to allow user to start meditation
		-have user pick set time to meditate for(1 min, 5 min, 10 min, nonstop) -->
        <!-- .js will use ajax's POST method -->
        <button>1:00</button>
        <button>5:00</button>
        <button>10:00</button>
        <button>Non-stop</button>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>


