<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mooderator [title here :)]</title>

    <!-- CSS -->
    <% include ../partials/head %>

    <style>
        html, body, main {
            height: 100%;
            width: 100%;
            margin: auto;
        }
        body {
            background-color: #ffcccc;
            color: black;
            font-family: sans-serif;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            top: 50%;
            bottom: 50%;        
        }
        h1 {
            font-size: 40px;
            line-height: 150%;
            color: #ff8080;
        }
        main {
            position: fixed;
            top: 25%;
            background-color: transparent !important;
        }
        select{
            width: 200px;
            color: #ff6666;
            font-size: 20px;
            font-family: cursive;
            font-weight: bold;
            padding: 5px 0;
            margin: auto;
            text-align: center;
        }
        .btn {
            background-color: #ff8080;
            color: #ffffff;
            margin: auto;
        }
        .btn:hover{
            background-color: #ff6666;
        }
    </style>
</head>
<body>
    <main>
        <h1>How are you feeling today?</h1>
        <div>
            <form method="POST" action="/mood/post-mood">
                <!-- TO DO -->
                <!-- POST ACTION -->
                <select name="mood_id">
                    <option>I'm feeling...</option>
                    <option value="1">Happy</option>
                    <option value="2">Sad</option>
                    <option value="3">Angry</option>
                    <option value="4">Neutral</option>
                </select>
                <button class="btn">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <script src="/javascript/moodChecker.js"></script>
</body>
</html>