<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mooderator [title here :)]</title>

    <!-- CSS -->
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/mood.css">
</head>
<body>
    <main>
        <h1>How are you feeling today?</h1>
        <div>
            <form method="POST" action="/mood/post-mood">
                <!-- TO DO -->
                <!-- POST ACTION -->
                <select name="mood_id">
                    <option>I'm feeling...</option>
                    <option value="1">Happy</option>
                    <option value="2">Sad</option>
                    <option value="3">Angry</option>
                    <option value="4">Neutral</option>
                </select>
                <button class="btn">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <!-- SCRIPT -->
    <% include ../partials/script %>
    <script src="/javascript/moodChecker.js"></script>
</body>
</html>