<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        

<!-- Current mood:
		-Select entry
            -stored into database based on userid, mood, and timestamp -->
            
            
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
