<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        


<!-- Quotes:
		popular:
			-quotes order based on ranking by users
		add:
			-allows users to enter their own self-motivating quotes, for what mood
			-see recently added quotes -->
            
            
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

