<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>

<!-- Songs:
		-songs based on user's mood today
		-have a preview of song(if possible?)
		-link to song
		-user can also change the moods of the song but will not change the mood they feel today -->
            
            
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>



